<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/getItem/">Get item</a></p>
    <p><a href="/postItem/">Post item</a></p>
    <p><a href="/putItem/">Put item</a></p>
    <p><a href="/deleteItem/">Delete item</a></p>
  </body>
</html>
